

<!DOCTYPE html>
<html lang="en">
<head>
  <title>RDF Example by Maheen</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1> </h1>

<div class="container">
  <p class="text-justify">This is demo to search in RDF data file. </p>
  <!-- <h1 class="label label-success">Demo RDF Quering by Maheen Bakhtyar</h1> -->
  <form class="form-horizontal" action="/" method="post" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Enter Name</label>
      <div class="col-sm-12">
        <select class="form-select" aria-label="Disabled select example" id="mySelection" name="question">
          <option selected>Select a Question</option>
          <option value="q1">Can we reach from X (home) to Y (destination) using Z (any public transport)?​
          </option>
          <option value="q2">Are there any X (sports clubs) near/nearest my home?</option>
          <option value="q3">Is there any public transport stops near X sports club?</option>
          <option value="q4">Which sports clubs are near a public transport stop?</option>
          <option value="q5">How many sports clubs lie on the route of X bus/tram?</option>
          <option value="q6">List all the public transport stops near X property?.</option>
          <option value="q7">If there are multiple routes to go from X to Y, list them.</option>
          <option value="q8">How many are different sports club activities available near my house?​</option>
          <option value="q9">Which sports clubs have X(facility) near/nearest to Y(property)?</option>
          <option value="q10">Which all Sports and Recreational Clubs are close to each other?</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <div class="mt-4 mb-4 col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
{%if showtable%}
<div class="container">
  <table class="table">
    <thead>
      <tr class="table-dark">
        {% for header in query_result.head.vars %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in query_result.results.bindings %}
      <tr class="table-success">
        {% for cell in row.items() %}
          <td>{{ cell.1.value }}</td>
        {% endfor %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endif%}
</body>
</html>